<!doctype html>
<html>
<head>
  <title>Kemal Chat</title>
</head>
<body>
  <pre id='chat'></pre>
  <form>
    <input id='msg' placeholder='message...' />
    <input type="submit" value="Send">
  </form>
</body>
</html>
